/***********************************/
/**          SEARCH PAGE           **/
/***********************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700|PT+Sans+Caption:400,700');
/*
~FONTS~
(sans-serif)
Roboto
Montserrat
Istok Web
PT Sans Caption
*/
*{
  word-break:break-all !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

select{
  border-radius:0px;
}
label{
  text-transform:uppercase;
}

.allergyrmv{
  float:right;
  top:24px;
  left:-10px;
}

body{
  font-family:'Montserrat';
  background-color: ghostwhite  ;
  /*#dbdcdd*/
  padding:0px !important;
  background-size:cover;
  overflow-x:hidden !important;
}
#date{
  color:darkblue !important;
}
#normal-field{
  font-family: 'Roboto', sans-serif;
}
.modal{
  margin:0;
}
.modal-header h4, .modal-header p {
  margin-left:20px;
  color:white;
}
.search-page {
  background-color: #ffffff;
}

.search-container {
  padding-top: 5%;
  text-align: center;
}
.search-container > .btn {
  padding-left: 35px;
  padding-right: 35px;
}

.search-info {
  font-size: 20px;
  color: #343434;
}

.page-footer{
  text-align:center;
  text-transform:uppercase;
  font-style:'PT Sans Caption';
  margin:25px;
  padding-bottom:10px;
  bottom:0px;

}

.navbar-default {
  background-color:#014FB3 !important;
  border:none;
}

.no-padding{
  padding:0px !important;
}
.editProfInput{
  margin-bottom:10px;
}

.editPatientProfile .control-label{
  text-align:right;
}

.patientProfDetail{
  border-radius:8px;
  background: ghostwhite;
  padding:40px;
}

.patientProfDetail h3{
  font-weight:400;
}

.userprofileinfo{
  padding:50px;
  margin:0px;
  background:#4c4c4c;
  color:white;
}

.userprofileinfo h5{
  color:lightgrey;
}

.userprofileinfo h3{
  margin-top:0px;
  margin-bottom:20px;
}
.userprofileinfo hr{
  color:white;
}

.valign-wrapper{
  height: 450px;
  padding: 0;
  margin: 0;
}

hr.profile{
  border-top: 1px dotted rgba(140, 140, 140, 0.2);
}

.editProfInput{
  border:1px solid rgba(140, 140, 140, 0.5);
}
.editPatientProfile{
}
.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgb(201, 227, 246);
}

.navbar-default .navbar-header > a.navbar-brand{
  color:#FFF;
}

.navbar-default .active{
  background-color: rgba(#014fb3, 0.75);
}



.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color:#3677c9;
}
.navbar-collapse{
  width:100%;
  text-align:center;
  margin:0 auto;
  padding: 0;
  overflow:hidden;
}
.content {
  background-color: #fff !important;
}


.search-result-item {
  background-color: #e6e6e6;
}

.brandLogo{
  background:url("../assets/LogoNavbar.png") no-repeat;
  background-size:contain;
  margin-top:-8px;
  height:40px;
  width:140px;
  transition: 0.25s;
  float:left;
}
.table-responsive{
  padding:15px !important;
}
.brandLogo:hover{
  background:linear-gradient(
    rgba(150, 150, 150, 0.2),
    rgba(150, 150, 150, 0.2)
  ),
  url("../assets/LogoNavbar.png") no-repeat;
  background-size:contain;
  margin-top:-8px;
  height:40px;
}

.btn{
  font-family:'PT Sans Caption', sans-serif !important;
  border-radius:2px;
  border:none !important;
  font-family:Montserrat;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all 0.1s ease;
  word-wrap:break-word !important;
}
.btn:active{
  transform:translateY(5px) !important;
  box-shadow: 0px 0px 0px !important;
}
.btn:hover{
  transform:translateY(-2px);
}
.btn-info, .btn-info:active{
  box-shadow:rgb(14, 87, 109) 0px 5px 0px;
  background:rgb(30, 121, 148);
}
.btn-info:hover{
  box-shadow:rgba(14, 87, 109,0.8) 0px 5px 0px;
  background:rgba(30, 121, 148,0.8);
}

.btn-block, .btn-block:active{
  box-shadow:rgb(14, 87, 109) 0px 5px 0px;
  background:rgb(30, 121, 148);
  margin-bottom:10px;
  color:white;
}
.btn-block:hover{
  box-shadow:rgba(14, 87, 109,0.8) 0px 5px 0px;
  background:rgba(30, 121, 148,0.8);
}

span.select2.select2-container.select2-container--default{
  width:62%;
}
..select2.select2-container .select2-container--default .select2-container--below .select2-container--open  {
  width:50% !important;
}

.btn-primary, .btn-primary:active{
  box-shadow:rgba(16, 61, 119, 0.9) 0px 5px 0px;
  background:rgba(7, 85, 185, 0.8);
}
.btn-primary:hover{
  background:rgba(7, 85, 185, 0.7) !important;
  box-shadow:rgba(16, 61, 119, 0.7) 0px 5px 0px;
}

.btn-info, .btn-info:active{

}
.btn-success, .btn-success:active{

}
.btn-secondary, .btn-secondary:active{
  box-shadow:grey 0px 5px 0px;
  background:rgba(150, 150, 150, 0.6);
}

/* BUTTON REMOVE
button.remove{
  border-radius:2px;
  padding:5px;
  border:none;
  box-shadow:grey 0px 5px 0px;
  background:rgba(150, 150, 150, 0.6);
}
button.remove:hover{
  transform:translateY(-2px);
  box-shadow:lightgrey 0px 5px 0px;
  background:rgba(150, 150, 150, 0.3);
}
button.remove:active{
  transform:translateY(5px);
  box-shadow:none;
  background:rgba(150, 150, 150, 0.9);
}*/

.btn-warning, .btn-warning:active{
  box-shadow:rgb(168, 65, 65) 0px 5px 0px;
  background:#F08080;
}
.btn-warning:hover{
  box-shadow:rgba(168, 65, 65, 0.5) 0px 5px 0px;
  background:rgba(240, 128, 128,0.5);
}

.black-text{
  color:#fff !important;
}
.white-text{
  color:#000 !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.model-dialog{
  margin:0px;
}

.fields-group{
  margin:0px;
  padding:0px;
  overflow:hidden !important;
}
.viewProfile{

}

.brandLogo p{
	font-size:21px;
	margin-top:7px;
	margin-left:70px;
}

.btn-custom {
  background-color: #014FB3 !important;
}

.card-header{
  padding:25px;
}

.card-content{
  padding:25px;
}

.card-footer{
 padding:25px;
 position:absolute;
 bottom:5px;
}

.content {
  padding-top: 20px !important;
}

.marginbtn{
  margin:5px;
}

.login-page{
	background:lightblue !important;
}

.widget-login{
	background:rgba(255,255,255,1);
}
.input-group-addon{
	background:lightgrey;
  border:1px;
}

.login-addon{
	border-right:none;
}
/*INPUT TYPES*/
.widget-body .mt-lg .input-group input[type="text"],
.widget-body .mt-lg .input-group input[type="password"]{
	border:0.05px solid lightgrey;
  border-left:0px;
  background:white;
  border-radius:1px;
}
.allergy.row{
  text-align:center;
  color:red;
  padding:20px;
  margin:0px;
}
.form-control{
  background:#e0e0e0;
  border-radius:1px;
  padding:5px;
  border:lightgrey solid 0.2px;
  transition:0.5s ease;
}
.form-control:focus{
  box-shadow:none;
  border:1px solid;
  font-weight:700;
  color:#014FB3;
}

.select2-container--default .select2-selection--single{
  background:#e0e0e0;
  border-radius:1px;
  border:lightgrey solid 0.2px;
}

.select2-container--default .select2-selection--single:focus{
  padding:0px;
  box-shadow:none;
  outline:none;
}

input[type=number]{

}
.input-group-addon:first-child{
  border-radius:0px;
  border:none;
  background: transparent;
}


#viewModal{
  font-family: 'Montserrat', sans-serif;
}
span.fullName.h4{
  color:teal;
  font-weight:800;
}
ul#complaint, ul#medicine{
  list-style:none;
}
table{
  font-family: 'Roboto', sans-serif;
  background-image:url("../assets/iacad-logo.png")!important;
  background-origin:content-box;
  background-size:contain;
  background-position:50% 20px;
  background-repeat:no-repeat;
  width:98% !important;
}
td, tr, th{
  padding:10px !important;
  background:rgba(255,255,255,0.8)!important;
}


input[type=checkbox]{
  appearance:none;
  -webkit-appearance: none;
  background-color: lightgrey;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0px -15px 10px -12px rgba(0,0,0,0.02);
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
  margin:5px;
  position: relative;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  background-image:none;
  outline:none !important;
}

input[type=search]{
  border-radius:0px;
  border:0.5px solid lightgrey;
  padding:5px;
  font-family:'PT Sans Caption';
  font-weight:400;
}
input[type=search]:focus{
  border-color:blue !important;

}
.modal.fade.visit .modal-dialog .modal-content .visitdtl{
  background:ghostwhite;
  padding:0px !important;
}

input[type=checkbox]:checked {
	background-image:url("../assets/checkbox.jpg") !important;
  background-size:cover;
	color: #99a1a7;
}
hr{
  padding:0px;
  margin:0px;
  margin-bottom:1em;
  border-top:3px solid #333;
  opacity:0.9;
}
.card{
  height: auto;
  padding:25px;
  margin-bottom:2em;
  background:rgba(254,254,254,1);
  box-shadow: 0 10px 6px -6px #777;
  overflow:hidden !important;
}
.visithistory{
  margin-left:5px;
}


.modal-header{
  background:#014FB3;
  text-transform: uppercase;
  font-style:bold;
  color:#fff;
}
.modal-body{
  background-color:ghostwhite;
}
.modal-body{
  padding:25px;
}

.select2-hidden-accessible + ul {
	-webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  box-ordinal-group: 3;
}
.parsley-errors-list li {
	list-style-type: none;
	color: red;
}

.widget{
  box-shadow: 0 10px 6px -6px #777;
  margin-bottom:2em;
}

button.close{
  color:white;
}
input.parsley-error
{
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid red;
}

/*---------------MEDIA QUERIES---------------*/

@media only screen and (max-width:768px){
	.widget-login-logo{
		font-size:17px;
	}
}

@media only screen and (max-width:340px){
	*{
		margin-top:-4px;
	}
  .visithistory{
    margin-left:-15px !important;
  }
  .navbar-header{
    margin-top:25px;
    padding:8px;
  }
	.widget-login{
		width:90vw;
	}

	.widget-login-logo{
		font-size:14px;
	}

  .visitfunction button{
    margin:5px;
    width: 100%;
  }

  .patientfunction button{
    margin:5px;
    width: 100%;
  }
  input[type=checkbox]{
    padding:15px;
  }
  input.quantity.formInpt{
    width:40px !important;
  }
}
